body {
margin: 0;
background: #70c5ce;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: 'Squada One', cursive;
}
#canvas {
background-color: #30c0df;
border: 2px solid black;
display: block;
}
